$primary-color: #f15025;
$open-sans: "Open Sans", sans-serif;
$stylish-font: "Courgette", cursive;

body {
  font-family: $open-sans !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.style-text {
  font-family: $stylish-font;
}
.primary-color {
  color: $primary-color !important;
}

.letter-spacing {
  letter-spacing: 0.5rem;
}

.header-hero {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url(./images/homeBcg.jpeg) center/cover no-repeat;
  min-height: calc(100vh - 56px);
}

.default-hero {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(./images/defaultBcg.jpeg) center/cover no-repeat;
  min-height: calc(100vh - 56px);
}
